@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    @apply animate-spin inline-block w-5 h-5 border-2 border-t-transparent rounded-full;
}
.spinner-green {
    @apply border-green-500 border-b-transparent;
}
.spinner-red {
    @apply border-red-500 border-b-transparent;
}
.spinner-white {
    @apply border-white border-b-transparent;
}
.btn {
    @apply inline-block text-center cursor-pointer bg-transparent font-semibold py-2 px-4 border rounded;
}
.btn[disabled] {
    @apply opacity-50 cursor-not-allowed;
}
.btn:hover:not([disabled]) {
    @apply shadow;
}
.btn-blue {
    @apply text-blue-700 border-blue-500;
}
.btn-blue:hover:not([disabled]) {
    @apply shadow-blue-500;
}
.btn-blue-selected {
    @apply bg-blue-500 text-white border-transparent;
}
.btn-red {
    @apply text-red-700 border-red-500;
}
.btn-red-filled {
    @apply text-white bg-red-500 border-red-500;
}
.btn-red:hover:not([disabled]) {
    @apply shadow-red-500;
}
.btn-green {
    @apply text-green-700 border-green-500;
}
.btn-green-filled {
    @apply text-white bg-green-500 border-green-500;
}
.btn-green:hover:not([disabled]) {
    @apply shadow-green-500;
}
.btn-white {
    @apply text-white;
}
.btn-white:hover:not([disabled]) {
    @apply shadow-white;
}

.input {
    @apply mt-6;
}
.input-label {
    @apply block text-sm font-medium text-slate-700;
}
.input-text {
    @apply block px-2 py-1 border border-slate-300 rounded-md text-sm shadow-sm focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}
.input-text:disabled {
    @apply bg-slate-50 text-slate-500 border-slate-200 shadow-none;
}
.input-text:invalid {
    @apply border-pink-500 text-pink-600;
}
.input-select {
    @apply block px-2 py-1 border border-slate-300 rounded-md text-sm shadow-sm focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.validation-errors {
    @apply mt-6 text-red-500;
}

kbd {
    @apply px-2 py-1.5 text-xs text-gray-800 border border-gray-200 rounded-lg;
}

tr {
    @apply border-b border-gray-300;
}
table.table-striped tbody tr:nth-child(2n+1) {
    @apply bg-gray-200;
}
th {
    @apply text-left px-6 py-2;
}
td {
    @apply px-6 py-2;
}

.project .description {
    @apply text-sm leading-6;
}
.project .description h1 {
    @apply text-xl;
}
.project .description h1 {
    @apply text-lg;
}
.project .description ol {
    @apply list-inside list-decimal;
}
.project .description ul {
    @apply list-inside list-disc;
}
a.link, .project .description a {
    @apply text-blue-700 border-blue-700 hover:border-b;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}