.vs/
bin/
obj/
*.user
.tools/
/object-storage
/src/TdoTGuide.Admin.Client/wwwroot/css/app.min.css
/src/TdoTGuide.Admin.Client/wwwroot/lib
/TdoTGuide.Web/wwwroot/css/app.min.css
/TdoTGuide.SampleDataGenerator/AttendeeCandidates.json
/TdoTGuide.SampleDataGenerator/OrganizerCandidates.json
